<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Human Resources</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.18/angular-material.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="app/app-content/app.css"/>

</head>
<body>
    <div class="jumbotron" id="jumbo">
        <div class="container-fluid">
            <div ng-if="isRestrictedPage" ng-include src="'app/include/header.html'"></div>
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            <div ng-view class ="rounded" ng-class="{'page-settings': isRestrictedPage}"></div>
        </div>
    </div>

    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!--Underscore-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>

    <!--Boostrap v4-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.18/angular-material.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>

    <!--Servicii-->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/app-services/authentication.service.js"></script>
    <script type="text/javascript" src="app/app-services/flash.service.js"></script>
    <script type="text/javascript" src="app/app-services/ui-bootstrap-tpls-2.5.0.js"></script>
    <script type="text/javascript" src="app/app-services/user.service.js"></script>
    <script type="text/javascript" src="app/app-services/underscore.service.js"></script>
    <script type="text/javascript" src="app/app-services/data.service.js"></script>
   
    <!--Controller-->
    <script type="text/javascript" src="app/app-pages/login/login.controller.js"></script>
    <script type="text/javascript" src="app/app-pages/register/register.controller.js"></script>
    <script type="text/javascript" src="app/app-pages/home/home.controller.js"></script>
    <script type="text/javascript" src="app/app-pages/users/edit-user/editUser.controller.js"></script>
    <script type="text/javascript" src="app/app-pages/adaugare-angajat/adaugare.angajat.controller.js"></script>
    <script type="text/javascript" src="app/app-pages/date-personale/date.personale.controller.js"></script>
    <script type="text/javascript" src="app/app-pages/date-contract/date.contract.controller.js"></script>
    <script type="text/javascript" src="app/app-pages/adaugare-ocurenta/adaugare.ocurenta.js"></script>
    <script type="text/javascript" src="app/app-pages/inchidere-contract/inchidere.contract.controller.js"></script>

    
</body>
</html>