<div id="popupContainer" class="row justify-content-center" style="padding-top: 30px; padding-bottom: 30px">
  <div class="col-md-auto">
      <select class= "form-control" ng-change = "vm.reloadtasks()" ng-model="vm.selectedIteration" ng-options="item as (item.startDate | date: 'dd MMM yyyy') + ' - '+ (item.endDate | date: 'dd MMM yyyy') for item in vm.iterations track by item.id"></select>
  </div>
  <div class="col-md-auto">
      <button type="button" class="btn btn-primary" ng-click="vm.addIteration()">
        Adauga iteratie
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
  </div>
</div>
<div class="row" style="padding-bottom: 50px">
  <div class="col-md-3 ml-auto">
    <div class="list-group taskIteration">
      <a class="list-group-item active text-light">To Do
        <div class="btn-group float-right">
            <button title="Selecteaza tot" class="btn btn-outline-light" ng-click="vm.selectAll(vm.selectedA, vm.listA, false);vm.selectedB=[];vm.selectedC=[];"><i class="fa fa-check"></i></button>
            <button title="Deselecteaza tot" class="btn btn-outline-light" ng-click="vm.selectedA=[];vm.dataChecked=true;"><i class="fa fa-times-circle-o"></i></button>
        </div>
      </a>
      <a ng-repeat="task in vm.listA track by task.id" data-id="{{task.id}}" ng-click="vm.toggleSelectionA(task.id)" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{task.title}}</h5>
          <small>
            <em>Deadline: {{task.deadline | date: 'dd MMM yyyy'}}</em>
          </small>
        </div>
        <small>
            <em>Proprietar: {{task.user.name}} {{task.user.lastName}}</em>
        </small>
        <label class="float-right">
          <i class="fa fa-check-square-o" ng-show="vm.selectedA.indexOf(task.id) > -1"></i>
        </label>
      </a>
    </div>
    <div style="padding: 25px; text-align: center">
        <button title="Doar task-urile din To Do pot fi asignate" class="btn btn-info" ng-disabled="vm.dataChecked || vm.dataLoading || vm.listModif" id="usersDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actualizeaza userul <i ng-class="vm.dataLoading? 'fa fa-spinner fa-spin':'fa fa-users'"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="usersDropDown">
            <a class="dropdown-item" ng-repeat="user in vm.taskUsers track by user.id" ng-click="vm.changeUser(user, $event)">{{user.name}} {{user.lastName}}</a>
        </div>
    </div>
  </div><!--/col-4-->
  <div class="col-md-1 my-auto text-center">
    <div class="btn-group">
      <button title="Send to In Progress" class="btn btn-outline-danger" ng-click="vm.bToA()" id="btnA"><i class="fa fa-chevron-left"></i></button>
      <button title="Send to To Do" class="btn btn-outline-success" ng-click="vm.aToB($event)" id="btnB"><i class="fa fa-chevron-right"></i></button>
    </div>
  </div><!--/col-1-->
  <div class="col-md-3">
    <div class="list-group taskIteration">
      <a class="list-group-item active text-light">In Progress
        <div class="btn-group float-right">
            <button title="Selecteaza tot" class="btn btn-outline-light" ng-click="vm.selectAll(vm.selectedB, vm.listB, true);vm.selectedA=[];vm.selectedC=[];"><i class="fa fa-check"></i></button>
            <button title="Deselecteaza tot" class="btn btn-outline-light" ng-click="vm.selectedB=[]"><i class="fa fa-times-circle-o"></i></button>
        </div>
      </a>
      <a ng-repeat="task in vm.listB track by task.id" data-id="{{task.id}}" ng-click="vm.toggleSelectionB(task.id)" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{task.title}}</h5>
          <small class="mb-1">
            <em>Deadline: {{task.deadline | date: 'dd MMM yyyy'}}</em>
          </small>
        </div>
        <small>
            <em>Proprietar: {{task.user.name}} {{task.user.lastName}}</em>
        </small>
        <label class="float-right">
          <i class="fa fa-check-square-o" ng-show="vm.selectedB.indexOf(task.id) > -1"></i>
        </label>
      </a>
    </div>
    <div style="padding: 25px; text-align: center">
        <button class="btn btn-success" ng-click="vm.sendStatus()" ng-disabled="vm.dataModif || vm.dataLoading">
          Salveaza modificarile <i ng-class="vm.dataLoading? 'fa fa-spinner fa-spin':'fa fa-paper-plane'"></i></button>
    </div>
  </div><!--/col-4-->
  <div class="col-md-1 my-auto text-center">
      <div class="btn-group">
        <button title="Send to Done" class="btn btn-outline-danger" ng-click="vm.cToB()" id="btnA"><i class="fa fa-chevron-left"></i></button>
        <button title="Send to In Progress" class="btn btn-outline-success" ng-click="vm.bToC()" id="btnB"><i class="fa fa-chevron-right"></i></button>
      </div>
  </div><!--/col-1-->
  <div class="col-md-3 mr-auto">
      <div class="list-group taskIteration">
        <a class="list-group-item active text-light">Done
          <div class="btn-group float-right">
              <button title="Selecteaza tot" class="btn btn-outline-light" ng-click="vm.selectAll(vm.selectedC, vm.listC, true);vm.selectedA=[];vm.selectedB=[];"><i class="fa fa-check"></i></button>
              <button title="Deselecteaza tot" class="btn btn-outline-light" ng-click="vm.selectedC=[]"><i class="fa fa-times-circle-o"></i></button>
          </div>
        </a>
        <a ng-repeat="task in vm.listC track by task.id" data-id="{{task.id}}" ng-click="vm.toggleSelectionC(task.id)" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{task.title}}</h5>
            <small class="mb-1">
              <em>Deadline: {{task.deadline | date: 'dd MMM yyyy'}}</em>
            </small>
          </div>
          <small>
              <em>Proprietar: {{task.user.name}} {{task.user.lastName}}</em>
          </small>
          <label class="float-right">
            <i class="fa fa-check-square-o" ng-show="vm.selectedC.indexOf(task.id) > -1"></i>
          </label>
        </a>
      </div>
    </div><!--/col-4-->
</div>