<div style="padding: 30px" ng-controller="DateContract as vm">
    <form name="form" role="form" ng-submit="vm.addOcurenta()">
        <div class="row">
            <div class="col-md-4 mb-3">
                <i ng-if="vm.dataLoading" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                <button class="btn btn-outline-success" ng-disabled="form.$invalid || vm.dataLoading" type="submit"><i class="fa fa-plus"></i>    Creaza act aditional</button>
                <a href="#!/" class="btn btn-outline-danger" role="button"><i class="fa fa-window-close"></i>   Anuleaza</a>
        <!--        <md-select placeholder="Selectati un angajat" ng-model="vm.persoanaHeader" md-on-open="vm.loadPerson(vm.persoanaHeader)" style="min-width: 200px;" required>-->
        <!--            <md-option ng-value="angajat.marca" ng-repeat="angajat in vm.header">{{angajat.name}} {{angajat.lastName}}</md-option>-->
        <!--        </md-select>-->
            </div>
            <div class="col-md-3 mb-3">
                <select class="form-control" id="header" ng-model="vm.persoanaHeader"
                        ng-change="vm.loadContract(vm.persoanaHeader.marca);vm.showStatus(vm.persoanaHeader.contractActiv)"
                        ng-options="pers as pers.name +' ' +  pers.lastName for pers in vm.header track by pers.marca" required>
                    <option value="" disabled hidden selected>Alegeti angajatul</option>
                </select>
            </div>
            <div ng-if="vm.showContractInactiv" class="col-md-2 mb-3">
                <span class="text-danger">Fara contract activ!</span>
            </div>
            <div ng-if="vm.persoanaHeader" class="col-m3-2 mb-3">
                <select class="form-control" id="ocurente" ng-model="vm.ocurenta"
                        ng-change="vm.loadOcurenta(vm.ocurenta, vm.persoanaHeader.marca);vm.showStatus(vm.persoanaHeader.contractActiv)"
                        ng-options="ocur.dateEff as (ocur.dateEff | date: 'dd/MM/yyyy') +' - ' + (vm.checkNullDate(ocur.endDate)| date: 'dd/MM/yyyy') + ' - Contract: ' + ocur.contract.id for ocur in vm.ocurente">
                </select>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-file-contract"></i></span>
                    <span class="input-group-text">Detalii Contract</span>
                </div>
            </div>
            <ul class="list-group list-group-flush" style="padding-right: 30px; padding-left: 30px">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="startDate">Data inceput contract</label>
                            <div class="input-group">
                                <md-datepicker name="startDate" id="startDate" ng-model="vm.contractIsto.contract.startDate" ng-disabled="true" required></md-datepicker>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="periaodaProba">Data sfarsit contract</label>
                            <div class="input-group">
                                <md-datepicker name="periaodaProba" id="periaodaProba" ng-model="vm.contractIsto.contract.endDate" ng-disabled="true" required></md-datepicker>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="varsta">Durata Contract</label>
                            <div class="input-group" id="varsta" >{{vm.vechime}}</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="tipContract">Tip contract</label>
                            <select class="form-control" id="tipContract" ng-model="vm.contractIsto.tipContract.id"
                                    ng-options="item.id as item.name for item in vm.tipuriContract" required>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="nrOre">Numar de ore lucrate pe zi</label>
                            <select class="form-control" name="nrOre" id="nrOre" ng-model="vm.contractIsto.nrOre"
                                    ng-options="item.id as item.name for item in vm.oreContract" required>
                            </select>
                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="dept">Departament</label>
                            <select class="form-control" id="dept" ng-model="vm.contractIsto.dept.deptId"
                                    ng-options = "dept.deptId as dept.numeDept for dept in vm.departamente" ng-change="vm.updatePosts(vm.contractIsto.dept.deptId)"  required>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="post">Post</label>
                            <select class="form-control" id="post" ng-model="vm.contractIsto.post.id"
                                    ng-options = "post.id as post.name for post in vm.posturi" required>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="salariu">Salariu</label>
                            <input type="number" name="salariu" class="form-control" id="salariu" ng-model="vm.contractIsto.salariu" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>
                            <span class="text-danger" ng-show="!form.salariu.$valid && form.salariu.$dirty">
                                Numar invalid
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>