<style> 
        .md-datepicker-calendar-pane{
        z-index: 1200}
</style>
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle" ng-hide="vm.activeTask">Adaugare Iteratie</h5>
    <button type="button" class="close" aria-label="Close" ng-click="vm.Dismiss()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="formAdaugareTask" ng-submit="vm.addIteration()" role="form">
        <div class="form-group">
            <label for="startDate">Data inceput</label>
            <md-input-container>
                <md-datepicker id="startDate" ng-model="vm.newIteration.startDate" md-placeholder="Introduceti data de inceput" md-open-on-focus required></md-datepicker>
            </md-input-container>
        </div>
        <div class="form-group">
                <label for="endDate">Data sfarsit</label>
                <md-input-container>
                    <md-datepicker id="endDate" ng-model="vm.newIteration.endDate" md-placeholder="Introduceti data de sfarsit" md-open-on-focus required></md-datepicker>
                </md-input-container>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-disabled="vm.dataLoading" ng-click="vm.Dismiss()">Close</button>
            <button type="submit" class="btn btn-success" ng-disabled="formAdaugareTask.$invalid">Ok</button>
        </div>
        
    </form>
</div>
