<!-- Modal Adaugare Task-->
<style> 
        .md-datepicker-calendar-pane{
        z-index: 1200}
</style>
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle" ng-show="vm.activeTask">Editare Task</h5>
    <h5 class="modal-title" id="exampleModalLongTitle" ng-hide="vm.activeTask">Adaugare Task</h5>
    <button type="button" class="close" aria-label="Close" ng-click="vm.Dismiss()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="formAdaugareTask" ng-submit="vm.AddTask()" role="form">
        <div class="form-group" ng-class="{ 'has-error': formAdaugareTask.titluTask.$dirty && formAdaugareTask.titluTask.$error.required }">
            <label for="titluTask">Titlu task</label>
            <input type="text" class="form-control" id="titluTask" ng-model="vm.newTask.title" required>
            <span ng-show="formAdaugareTask.titluTask.$dirty && formAdaugareTask.titluTask.$error.required" class="text-danger">Titlul este obligatoriu</span>
        </div>
        <div class="form-group" style="width:auto;" ng-class="{ 'has-error': formAdaugareTask.deadlineTask.$dirty && formAdaugareTask.deadlineTask.$error.required }">
            <label for="deadlineTask">Deadline</label>
            <div flex-gt-xs>
                <md-datepicker id="deadlineTask" ng-model="vm.newTask.deadline" md-placeholder="Introduceti data" md-open-on-focus required></md-datepicker>
            </div>
            <span ng-show="formAdaugareTask.deadlineTask.$dirty && formAdaugareTask.deadlineTask.$error.required" class="text-danger">Deadline-ul este obligatoriu</span>
        </div>
        <div class="form-group">
                <label for="dificultate">Dificultate</label>
                <select class="form-control" id="dificultate" ng-model="vm.newTask.difficulty" ng-options="item as item.name for item in vm.difficulty track by item.id" required>
                </select>
        </div>
        <div class="form-group">
            <label for="prioritate">Prioritate</label>
            <select class="form-control" id="prioritate" ng-model="vm.newTask.priority" ng-options="item as item.name for item in vm.priority track by item.id" required>
            </select>
        </div>
        <div class="form-group">
            <label for="userTask">Asignare user</label>
            <select class="form-control" id="userTask" ng-model="vm.newTask.user" ng-options="item as item.name+' '+ item.lastName for item in vm.teamUsers track by item.id">
            </select>
        </div>
        <div class="form-group">
                <label for="iteratie">Iteratie</label>
                <select class="form-control" id="iteratie" ng-model="vm.newTask.taskIteration" ng-options="item as (item.startDate | date: 'dd MMM yyyy') + ' - '+ (item.endDate | date: 'dd MMM yyyy') for item in vm.interation track by item.id">
                </select>
        </div>
        <div class="form-group">
            <label for="descriptionTask">Descriere Task</label>
            <textarea class="form-control" id="descriptionTask" rows="3" ng-model="vm.newTask.description"></textarea>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-disabled="vm.dataLoading" ng-click="vm.Dismiss()">Close</button>
                <button type="submit" class="btn btn-primary" ng-disabled="formAdaugareTask.$invalid || vm.dataLoading">Save changes
                    <i ng-if="vm.dataLoading" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
    </form>
</div>