<div style="padding: 30px" ng-controller="AdaugareAngajat as vm" data-ng-init="vm.init($event)">
    <form name="form" role="form" ng-submit="vm.adaugareAngajat()">
        <div class="row">
            <div class="col-md-4 mb-3">
                <button class="btn btn-outline-success" type="submit"><i class="fa fa-plus"></i>    Adauga angajat</button>
                <a href="#!/" class="btn btn-outline-danger" role="button"><i class="fa fa-window-close"></i>   Anuleaza</a>
<!--                <a href="#!/" class="btn btn-outline-secondary" role="button"><i class="fa fa-pause"></i>   Pauza</a>-->
            </div>
            <div ng-if="vm.reangajare" class="col-md-2 mb-3">
                <select class="form-control" id="header" ng-model="vm.persoanaHeader" ng-change="vm.loadContract(vm.persoanaHeader.marca)"
                        ng-options="pers as pers.name +' ' +  pers.lastName for pers in vm.header" required>
                    <option value="" disabled hidden selected>Selectati Angajatul</option>
                </select>
            </div>
            <div ng-if="vm.reangajare && vm.isHeader" class="col-md-6 mb-3">
                <span class="text-danger">Nu exista persoane in baza de date care pot fi reangajate!</span>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                    <span class="input-group-text">Detalii Personale</span>
                </div>
            </div>
            <ul class="list-group list-group-flush" style="padding-right: 30px; padding-left: 30px">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="sex">Sex</label>
                            <select class="form-control" id="sex" ng-model="vm.contractIsto.contract.persoana.sex" required>
                                <option value="" disabled hidden selected>Alegeti sexul</option>
                                <option value="M">Masculin</option>
                                <option value="F">Feminin</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="dataNasterii">Data nasterii</label>
                            <div class="input-group">
                                <md-datepicker name="dataNasterii" id="dataNasterii" ng-model="vm.contractIsto.contract.persoana.dataNasterii" ng-change="vm.calculateAge(vm.contractIsto.contract.persoana.dataNasterii)" md-max-date="vm.maxBirthday" required></md-datepicker>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="varsta">Varsta</label>
                            <div class="input-group" id="varsta" >{{vm.age}}</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="nume">Nume</label>
                            <input type="text" name="name" class="form-control" id="nume" ng-model="vm.contractIsto.contract.persoana.name" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="prenume">Prenume</label>
                            <input type="text" name="name" class="form-control" id="prenume" ng-model="vm.contractIsto.contract.persoana.lastName" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="pseudonim">Pseudonim</label>
                            <input type="text" name="name" class="form-control" id="pseudonim" ng-model="vm.contractIsto.contract.persoana.pseudonim">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="judetulNasterii">Judetul Nasterii</label>
                            <select class="form-control" id="judetulNasterii" ng-model="vm.contractIsto.contract.persoana.judetulNasterii"
                                    ng-options="item.countyId as item.countyName for item in vm.judete" ng-change="vm.updateCity(vm.contractIsto.contract.persoana.judetulNasterii)" required></select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="orasulNasterii">Localitatea Nasterii</label>
                            <select class="form-control" id="orasulNasterii" ng-model="vm.contractIsto.contract.persoana.orasulNasterii"
                                    ng-options="item.id as item.cityName for item in vm.orase" required></select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="cnp">CNP</label>
                            <input type="text" name="cnp" class="form-control" id="cnp" ng-model="vm.contractIsto.contract.persoana.cnp" required>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="email">Email</label>
                            <input type="text" name="email" class="form-control" id="email" ng-model="vm.contractIsto.contract.persoana.email">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="phone">Telefon</label>
                            <input type="text" name="phone" class="form-control" id="phone" ng-model="vm.contractIsto.contract.persoana.phone">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                    <span class="input-group-text">Adresa</span>
                </div>
            </div>
            <ul class="list-group list-group-flush" style="padding-right: 30px; padding-left: 30px">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="county">Judet</label>
                            <select class="form-control" id="county" ng-model="vm.contractIsto.contract.persoana.address.countyId"
                                    ng-options="item.countyId as item.countyName for item in vm.judete" ng-change="vm.updateCityAdresa(vm.contractIsto.contract.persoana.address.countyId)"  required></select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="city">Localitate</label>
                            <select class="form-control" id="city" ng-model="vm.contractIsto.contract.persoana.address.cityId"
                                    ng-options="item.id as item.cityName for item in vm.oraseAdresa" required>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="strada">Strada</label>
                            <input type="text" name="strada" class="form-control" id="strada" ng-model="vm.contractIsto.contract.persoana.address.street" required>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="streetNo">Numar Strada</label>
                            <input type="text" name="streetNo" class="form-control" id="streetNo" ng-model="vm.contractIsto.contract.persoana.address.streetNo" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="building">Bloc</label>
                            <input type="text" name="building" class="form-control" id="building" ng-model="vm.contractIsto.contract.persoana.address.building">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="entrance">Scara</label>
                            <input type="text" name="entrance" class="form-control" id="entrance" ng-model="vm.contractIsto.contract.persoana.address.entrance">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="floor">Etaj</label>
                            <input type="text" name="floor" class="form-control" id="floor" ng-model="vm.contractIsto.contract.persoana.address.floor">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="appartment">Apartament</label>
                            <input type="text" name="appartment" class="form-control" id="appartment" ng-model="vm.contractIsto.contract.persoana.address.appartment">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="postalCode">Cod Postal</label>
                            <input type="text" name="postalCode" class="form-control" id="postalCode" ng-model="vm.contractIsto.contract.persoana.address.postalCode">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                    <span class="input-group-text">Detalii Contract</span>
                </div>
            </div>
            <ul class="list-group list-group-flush" style="padding-right: 30px; padding-left: 30px">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="startDate">Data inceput</label>
                            <div class="input-group">
                                <md-datepicker name="startDate" id="startDate" ng-model="vm.contractIsto.contract.startDate" ng-change="vm.updatePerProba(vm.contractIsto.contract.startDate)" md-min-date="vm.minStartDate" required></md-datepicker>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="ora">Ora</label>
                            <input type="time" name="strada" class="form-control" id="ora" step="3600" ng-model="vm.contractIsto.oraInceput">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="nrOre">Numar de ore lucrate pe zi</label>
                            <select class="form-control" name="nrOre" id="nrOre" ng-model="vm.contractIsto.nrOre"
                                    ng-options="item.id as item.name for item in vm.oreContract" required>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="tipContract">Tip contract</label>
                            <select class="form-control" id="tipContract" ng-model="vm.contractIsto.tipContract"
                                    ng-options="item as item.name for item in vm.tipuriContract" required>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="perioadaProba">Sfarsit perioada de proba</label>
                            <div class="input-group">
                                <md-datepicker name="perioadaProba" id="perioadaProba" ng-model="vm.contractIsto.perioadaProbaData" md-min-date="vm.contractIsto.contract.startDate" md-max-date="vm.maxPerProba" required></md-datepicker>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="dept">Departament</label>
                            <select class="form-control" id="dept" ng-model="vm.contractIsto.dept.deptId"
                                    ng-options = "dept.deptId as dept.numeDept for dept in vm.departamente" ng-change="vm.updatePosts(vm.contractIsto.dept.deptId)"  required>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="post">Post</label>
                            <select class="form-control" id="post" ng-model="vm.contractIsto.post"
                                    ng-options = "post as post.name for post in vm.posturi" required>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="field-label-responsive" for="salariu">Salariu</label>
                            <input type="number" name="salariu" class="form-control" id="salariu" ng-model="vm.contractIsto.salariu" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>
                            <span class="text-danger" ng-show="!form.salariu.$valid && form.salariu.$dirty">
                                Numar invalid
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>