<div class="userSettings" ng-controller="HomeController as vm">
    <div class="container userInfos">
        <div class="row">
            <div ng-click="vm.loadTaskuri()" class="col-md-3">
                <div class="card-counter info">
                <i class="fas fa-tasks"></i>
                <span class="count-numbers"></span>
                <span class="count-name">Taskuri</span>
                </div>
            </div>
            <div ng-click="vm.loadContracteNoi()" class="col-md-3">
                <div class="card-counter primary">
                <i class="fas fa-file-signature"></i>
                <span class="count-numbers"></span>
                <span class="count-name">Contracte noi</span>
                </div>
            </div>

            <div ng-click="vm.loadAngajatiPlecati()" class="col-md-3">
                <div class="card-counter danger">
                <i class="fas fa-user-minus"></i>
                <span class="count-numbers"></span>
                <span class="count-name">Angajati care vor pleca</span>
                </div>
            </div>
        
            <div ng-click="vm.newUsers()" class="col-md-3">
                <div class="card-counter success">
                <i class="fas fa-user-check"></i>
                <span class="count-numbers"></span>
                <span class="count-name">Utilizatori de aprobat</span>
                </div>
            </div>
        

        </div>
    </div>

    <div class="container">
        <div class="card teamOverview">
            <div class="card-header no-border">
                <h4 class="card-title">{{vm.titlu}}</h4>
            </div>
            <div ng-if="vm.dataLoading" class="col-md-12 mb-6" style="text-align:center; padding: 30px">
                <i ng-if="vm.dataLoading" class="fas fa-spinner fa-pulse" style="font-size:150px"></i>
<!--                <i ng-if="vm.dataLoading" class="fa fa-spinner fa-spin" style="font-size:200px"></i>-->
            </div>
            <div ng-if="!vm.dataLoading" class="card-content teamOverviewContent">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nume</th>
                        <th scope="col">Prenume</th>
                        <th scope="col">Departament</th>
                        <th scope="col">Data inceput</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.deptUsers">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{item.perso.name}} {{item.perso.lastName}}</td>
                        <td>{{item.totalPoints}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>