<div class="userSettings" ng-controller="HomeController as vm">
    <div class="container userInfos">
        <div class="row">
            <div ng-click="vm.loadPersonal()" class="col-md-3">
                <div class="card-counter info">
                <i class="fa fa-users"></i>
                <span class="count-numbers">{{vm.counts.rep1}}</span>
                <span class="count-name">Personal Activ</span>
                </div>
            </div>
            <div ng-click="vm.loadContracteNoi()" class="col-md-3">
                <div class="card-counter primary">
                <i class="fas fa-file-signature"></i>
                <span class="count-numbers">{{vm.counts.rep2}}</span>
                <span class="count-name">Angajati noi</span>
                </div>
            </div>

            <div ng-click="vm.loadAngajatiPlecati()" class="col-md-3">
                <div class="card-counter danger">
                <i class="fas fa-user-minus"></i>
                <span class="count-numbers">{{vm.counts.rep3}}</span>
                <span class="count-name">Angajati in preaviz</span>
                </div>
            </div>
        
            <div ng-click="vm.newUsers()" class="col-md-3">
                <div class="card-counter success">
                <i class="fas fa-user-check"></i>
                <span class="count-numbers">{{vm.counts.rep4}}</span>
                <span class="count-name">Utilizatori de aprobat</span>
                </div>
            </div>
        

        </div>
    </div>

    <div class="container">
        <div class="card teamOverview">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <h4 class="card-title">{{vm.titlu}}</h4>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-success" ng-disabled="vm.dataLoading" ng-click="vm.exportRaport(vm.tipRap)">
                            Exporta raport
                            <i class="far fa-file-excel" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div ng-if="vm.dataLoading" class="col-md-12 mb-6" style="text-align:center; padding: 30px">
                <i ng-if="vm.dataLoading" class="fas fa-spinner fa-pulse" style="font-size:150px"></i>
<!--                <i ng-if="vm.dataLoading" class="fa fa-spinner fa-spin" style="font-size:200px"></i>-->
            </div>
            <div ng-if="!vm.dataLoading" class="card-content teamOverviewContent">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{vm.header.col1}}</th>
                        <th scope="col">{{vm.header.col2}}</th>
                        <th scope="col">{{vm.header.col3}}</th>
                        <th scope="col">{{vm.header.col4}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.table" ng-click="vm.selectUserName(item.marca)">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{item.col1}}</td>
                        <td>{{item.col2}}</td>
                        <td>{{item.col3}}</td>
                        <td>{{item.col4}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>